.app-loading-scene-loading {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
}

.app-loading-scene-loading__label {
    font-size: 64px;
}
